name: bookStream

services:
  redis:
    image: redis/redis-stack:latest
    container_name: redis

    environment:
      REDIS_ARGS: "--requirepass ${REDIS_PASSWORD} --appendonly yes"

    ports:
      - "6379:6379"   
      - "8001:8001"   

    volumes:
      - redis_data:/data

    restart: unless-stopped

    healthcheck:
      test: ["CMD", "redis-cli", "-a", "${REDIS_PASSWORD}", "ping"]
      interval: 10s
      timeout: 5s
      retries: 5

volumes:
  redis_data:
